<header>
    <div class="wrapper-nav">
        <nav>
            <ul class="nav-list">
                <li><a class="nav-link" href="/add">Add film</a></li>
                <li><a class="nav-link" href="/view">Check List</a></li>
                <li><a class="nav-link" href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </div>

</header>

